@using FileUploadTest.Models

@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height:250px;">
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div>
        @Html.EditorFor(Model => Model.UploadUrl)
        
    </div>
    
    <div>
        UploadDate @Html.EditorFor(Model => Model.UploadDate)
        @Html.ValidationMessageFor(Model => Model.UploadDate)
    </div>
    
    <div>
        Date @Html.EditorFor(Model => Model.Date)
        @Html.ValidationMessageFor(Model => Model.Date)
    </div>
    
    <div>
        Phone @Html.EditorFor(Model => Model.Phone)
        @Html.ValidationMessageFor(Model => Model.Phone)
    </div>
    
    <div>
        MemberID @Html.EditorFor(Model => Model.MemberID)
        @Html.ValidationMessageFor(Model => Model.MemberID)
    </div>
    
    <div>
        Decimal @Html.DisplayFor(Model => Model.Money)
    </div>
    
    List<SelectListItem> list = new List<SelectListItem>();
    list.Add(new SelectListItem() { Text = "Admin", Value = "0" });
    list.Add(new SelectListItem() { Text = "Project manager", Value = "1" });
    list.Add(new SelectListItem() { Text = "User", Value = "2" });
    
    <div>
        @Html.EditorFor(Model => Model.UserRole, new { List = list })
    </div>
        
    <div>
        <input type="submit" value="Submit" />
    </div>
    
}